$primary: #00AACC;
$primary-dark: darken(#00AACC, 5%);
$sub: #CC0077;
$orange: #EE9900;
$green: #BBCC00;
$gray3: #A8A8A8;

$white: #FFFFFF;
$dark-gray: #252525;
$gray: #707070;
$gray2: #aeaeae;
$light-gray: #F2F0ED;
$light-gray2: #E8E8E8;