{
    "extends": "standard",
    "rules": {
      "semi": [
        2,
        "always"
      ]
    },
    "globals": {
      "window": true,
      "HTMLElement": true,
      "HTMLCanvasElement": true
    }
}