<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>52934623602-6s5k4ns526joa3ffldknau0s4on6m9me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52934623602-6s5k4ns526joa3ffldknau0s4on6m9me</string>
	<key>API_KEY</key>
	<string>AIzaSyAKaZhQmNf9bGosMtl4lMxyqKlsMqmZUgo</string>
	<key>GCM_SENDER_ID</key>
	<string>52934623602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gentlestudent</string>
	<key>PROJECT_ID</key>
	<string>gentle-student</string>
	<key>STORAGE_BUCKET</key>
	<string>gentle-student.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:52934623602:ios:265960dcf9b832ce</string>
	<key>DATABASE_URL</key>
	<string>https://gentle-student.firebaseio.com</string>
</dict>
</plist>
