@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif; }

a {
  text-decoration: none; }
  a.primary {
    border-radius: 8px;
    color: #FFFFFF !important;
    border: 1px solid #00AACC;
    background-color: #00AACC; }
    a.primary:hover {
      transition: all 258ms ease-in-out;
      color: #00AACC !important;
      background-color: transparent; }

nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16); }
  nav .logo {
    height: 100%;
    width: 270px;
    padding-left: 30px; }
    nav .logo img#gs-logo {
      height: 30px;
      padding: 35px 0; }
  nav .nav {
    width: 100%; }
    nav .nav ul#gs-nav {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 30px;
      padding: 22px 0; }
      nav .nav ul#gs-nav li {
        list-style: none; }
        nav .nav ul#gs-nav li.nav_item.language {
          font-size: 14px; }
        nav .nav ul#gs-nav li a {
          display: block;
          font-weight: 700;
          color: #707070;
          padding: 5px 10px;
          margin: 0 5px;
          line-height: 22px;
          height: 22px; }
          nav .nav ul#gs-nav li a:hover {
            transition: all 258ms ease-in-out;
            color: #252525; }

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.16); }
  .container.full-height {
    height: calc(100vh - 100px); }

.content {
  padding: 30px; }

footer {
  width: 100%;
  background-color: #F2F0ED; }
