#recente-ervaringen {
	h1 {
		text-align: center;
	}
	.ervaring {
		background-size: cover;
		border-radius: 15px;
		box-shadow: $shadow-light;
		height: 400px;
		border: none;
		transition: $transition;
		.data {
			position: absolute;
			bottom: 30px;
			left: 0;
			padding: 5px 10px;
			background: rgba(0,0,0,.35);
			transition: $transition;
			h2 {
				color: $white;
			}
			small {
				color: $white;
			}
		}
		&:hover {
			box-shadow: $shadow;
			.data {
				transform: translateY(-120px);
			}
		}
	}
	
}