.card-container {
	display: grid;
	// grid-template-columns: auto auto;
	padding: 10px 0;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	.card-item {
		position: relative;
		background-color: transparent;
		border: 1px solid $light-gray;
		padding: 15px;
		overflow: hidden;
	}
}
@media screen and (min-width: 415px) {
	.card-container {
		grid-template-columns: auto;
	}
}
@media screen and (min-width: 550px) {
	.card-container {
		grid-template-columns: auto auto;
	}
}
@media screen and (min-width: 960px) {
	.card-container {
		grid-template-columns: auto auto auto;
	}
}