.card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    .card-item {
        background-color: $light-gray;
        border: 1px solid $gray;
        padding: 15px;
        text-align: center;
    }
}