@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  line-height: 1.2em; }

html, body, .main-content{
  min-height:65vh;
}
h1, h2 {
  color: #707070; }

h1 {
  font-size: 32px;
  line-height: 1.6em; }

h2 {
  font-size: 20px;
  line-height: 1.3em; }

input, textarea {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif; }

.meer {
  display: block;
  margin: 5px auto 30px;
  padding: 5px 0;
  text-align: center;
  width: 170px;
  border-bottom: 2px solid #00AACC;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  transition: all 200ms ease-in-out; }
  .meer:hover {
    color: #00AACC; }

.relative {
  position: relative; }
  .relative.searchfilters {
    height: 200px; }
    .relative.searchfilters .fixed {
      position: fixed;
      top: 100px;
      width: calc(100% - 30px);
      z-index: 998;
      background-color: #FFFFFF; }

a {
  text-decoration: none; }
  a.primary {
    border-radius: 8px;
    color: #FFFFFF !important;
    border: 2px solid #00AACC;
    background-color: #00AACC; }
    a.primary:hover {
      transition: all 200ms ease-in-out;
      color: #00AACC !important;
      background-color: transparent; }

.dropdown-menu-list {
  display: block;
  font-weight: 700;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  border-radius: 8px;
  color: #707070 !important;
  border: 2px solid #707070;
  background-color: #FFFFFF;
  white-space: nowrap;
  position: absolute;
}

button.primary {
  display: block;
  font-weight: 700;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  line-height: 22px;
  height: 37px;
  text-decoration: none;
  border-radius: 8px;
  color: #00AACC !important;
  border: 2px solid #00AACC;
  background-color: #FFFFFF; }
  button.primary:hover {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #00AACC !important;
    background-color: transparent; }

.back {
  display: block;
  font-weight: 700;
  color: #707070;
  padding: 5px 10px;
  margin: 0 5px;
  line-height: 22px;
  height: 22px;
  display:inline-block; }
  back:hover {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #00AACC !important;
    background-color: transparent; }

.card-container {
  display: grid;
  padding: 10px 0;
  grid-column-gap: 15px;
  grid-row-gap: 15px; }
  .card-container .card-item {
    position: relative;
    background-color: transparent;
    max-height: 500px;
    padding: 15px;
    overflow: hidden; }

@media screen and (min-width: 415px) {
  .card-container {
    grid-template-columns: auto; } }

@media screen and (min-width: 650px) {
  .card-container {
    grid-template-columns: auto auto; }
    .card-container.leerkansen {
      grid-template-columns: auto; }
    .card-container.aangemaakte-leerkansen {
      grid-template-columns: auto; } }

@media screen and (min-width: 960px) {
  .card-container {
    grid-template-columns: auto auto auto; }
    .card-container.leerkansen {
      grid-template-columns: auto auto; }
    .card-container.aangemaakte-leerkansen {
      grid-template-columns: auto auto; } }

#recente-ervaringen h1 {
  text-align: center; }

#recente-ervaringen .ervaring {
  background-size: cover;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  height: 400px;
  border: none;
  transition: all 200ms ease-in-out; }
  #recente-ervaringen .ervaring .data {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.35);
    transition: all 200ms ease-in-out; }
    #recente-ervaringen .ervaring .data h2 {
      color: #FFFFFF; }
    #recente-ervaringen .ervaring .data small {
      color: #FFFFFF; }
  #recente-ervaringen .ervaring:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #recente-ervaringen .ervaring:hover .data {
      transform: translateY(-120px); }

#create_leerkans form {
  width: 100%; }
  #create_leerkans form .form-group {
    width: 100%; }
    #create_leerkans form .form-group label {
      display: block;
      width: 100%;
      padding: 8px 0 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      color: #666; }
    #create_leerkans form .form-group input,
    #create_leerkans form .form-group textarea {
      display: block;
      padding: 8px 16px;
      margin-bottom: 8px;
      width: calc(100% - 32px - 2px);
      border: 1px solid #ddd;
      border-radius: 8px;
      outline: none; }
      #create_leerkans form .form-group input:focus,
      #create_leerkans form .form-group textarea:focus {
        border: 1px solid turquoise; }

#leerkansen {
  display: flex;
  flex-direction: row;  }
  #leerkansen h1.uitgelicht {
    text-align: center; }
  #leerkansen .content-left {
    width: 60%; }
  #leerkansen .content-right {
    /* height: calc(100vh - 209px); */
    width: 40%;
    margin-right: -15px;
    width: calc(40% + 15px); }
  #leerkansen .card-item.leerkans {
    border-radius: 15px;
    border: 2px solid #F2F0ED;
    transition: all 200ms ease-in-out;
    background-color: white;}
    #leerkansen .card-item.leerkans:hover {
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #leerkansen .card-item.leerkans.digitale-geletterdheid:hover {
      border-color: #00AACC; }
    #leerkansen .card-item.leerkans.duurzaamheid:hover {
      border-color: #BBCC00; }
    #leerkansen .card-item.leerkans.ons:hover {
      border-color: #A8A8A8; }
    #leerkansen .card-item.leerkans.wbs:hover {
      border-color: #EE9900; }
    #leerkansen .card-item.leerkans.ond:hover {
      border-color: #CC0077; }
    #leerkansen .card-item.leerkans > img.photo {
      margin: -15px -15px 0 -15px;
      width: calc(100% + 30px); }
    #leerkansen .card-item.leerkans img.badge {
      position: absolute;
      width: 70px;
      height: auto;
      top: -75px;
      right: 0; }
    #leerkansen .card-item.leerkans h2 {
      color: #00AACC; }
    #leerkansen .card-item.leerkans .meta-data small {
      display: block;
      color: #aeaeae;
      font-size: 12px; }
    #leerkansen .card-item.leerkans p {
      color: #707070;
      font-size: 14px; }

#aangemaakte-leerkansen {
  display: flex;
  /* flex-direction: row; */}
  #aangemaakte-leerkansen h1.uitgelicht {
    text-align: center; }
  #aangemaakte-leerkansen .content-left {
    width: 100%; }
  #aangemaakte-leerkansen .content-right {
    height: calc(100vh - 209px);
    width: 0%;
    margin-right: -15px;
    width: calc(40% + 15px); }
  #aangemaakte-leerkansen .card-item.leerkans {
    border-radius: 15px;
    border: 2px solid #F2F0ED;
    transition: all 200ms ease-in-out; 
    width: 500px;
    background-color: white;}
    #aangemaakte-leerkansen .card-item.leerkans:hover {
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #aangemaakte-leerkansen .card-item.leerkans.digitale-geletterdheid:hover {
      border-color: #00AACC; }
    #aangemaakte-leerkansen .card-item.leerkans.duurzaamheid:hover {
      border-color: #BBCC00; }
    #aangemaakte-leerkansen .card-item.leerkans.ons:hover {
      border-color: #A8A8A8; }
    #aangemaakte-leerkansen .card-item.leerkans.wbs:hover {
      border-color: #EE9900; }
    #aangemaakte-leerkansen .card-item.leerkans.ond:hover {
      border-color: #CC0077; }
    #aangemaakte-leerkansen .card-item.leerkans > img.photo {
      margin: -15px -15px 0 -15px;
      width: calc(100% + 30px); }
    #aangemaakte-leerkansen .card-item.leerkans img.badge {
      position: absolute;
      width: 70px;
      height: auto;
      top: -60px;
      right: 0; }
    #aangemaakte-leerkansen .card-item.leerkans h2 {
      color: #00AACC; }
    #aangemaakte-leerkansen .card-item.leerkans .meta-data small {
      display: block;
      color: #aeaeae;
      font-size: 12px; }
    #aangemaakte-leerkansen .card-item.leerkans p {
      color: #707070;
      font-size: 14px; }

form .search-wrapper {
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  position: relative; }
  form .search-wrapper.frontpage {
    max-width: 800px; }
    form .search-wrapper.frontpage i {
      top: 28px;
      left: 30px; }
    form .search-wrapper.frontpage input {
      width: calc(100% - 80px);
      border-radius: 8px;
      max-width: 800px;
      padding: 15px 20px 15px 60px; }
    form .search-wrapper.frontpage > button {
      top: 10px;
      right: 10px;
      height: 48px; }
  form .search-wrapper.leerkansen i {
    font-size: 14px;
    top: 22px;
    left: 22px; }
  form .search-wrapper.leerkansen input {
    width: calc(100% - 71px);
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    border: 1px solid #E8E8E8;
    padding: 10px 20px 10px 50px; }
  form .search-wrapper.leerkansen > .filters {
    border: 1px solid #E8E8E8;
    margin-top: -1px;
    border-radius: 0 0 6px 6px; }
    form .search-wrapper.leerkansen > .filters > button {
      padding: 0;
      height: 40px;
      width: 25%;
      border: none;
      color: #707070;
      border-right: 1px solid #E8E8E8;
      outline: none;
      transition: all 200ms ease-in-out; }
      form .search-wrapper.leerkansen > .filters > button:first-child {
        margin-left: 1px;
        width: calc(25% - 1px);
        border-radius: 0 0 0 6px; }
      form .search-wrapper.leerkansen > .filters > button:last-child {
        border-right: none;
        border-radius: 0 0 6px 0; }
      form .search-wrapper.leerkansen > .filters > button:hover {
        background-color: #E8E8E8;
        cursor: pointer; }
  form .search-wrapper i {
    position: absolute;
    color: #aeaeae; }
  form .search-wrapper input {
    font-size: 18px;
    line-height: 2em;
    color: #252525;
    border: 1px solid #FFFFFF;
    outline: none;
    transition: all 200ms ease-in-out; }
    form .search-wrapper input:focus, form .search-wrapper input:active {
      border-color: #00AACC;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    form .search-wrapper input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #aeaeae; }
  form .search-wrapper > button {
    position: absolute;
    min-width: 100px;
    border-radius: 6px;
    border: 0;
    background-color: #00AACC;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; }
    form .search-wrapper > button:hover {
      background-color: #0095b3; }

nav {
  height: 100px; }
  nav .nav-wrapper {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26);
    background-color: #FFFFFF;
    z-index: 999; }
  nav .logo {
    height: 100%;
    width: 270px;
    padding-left: 30px; }
    nav .logo img#gs-logo {
      height: 30px;
      padding: 35px 0; }
  nav .nav {
    width: 100%; }
    nav .nav ul#gs-nav {
      display: flex;
      width: auto;
      position: absolute;
      right: 30px;
      padding: 22px 0; }
      @media screen and (min-width: 320px) {
        nav .nav ul#gs-nav {
          flex-direction: column; } }
      @media screen and (min-width: 960px) {
        nav .nav ul#gs-nav {
          flex-direction: row; } }
      nav .nav ul#gs-nav li {
        list-style: none;
        position: relative;
        width: auto; }
        nav .nav ul#gs-nav li.nav_item .active {
          border-bottom: 2px solid #00AACC; }
        nav .nav ul#gs-nav li.nav_item.language {
          font-size: 14px;}
        nav .nav ul#gs-nav li a {
          display: block;
          font-weight: 700;
          color: #707070;
          padding: 5px 10px;
          margin: 0 5px;
          line-height: 22px;
          height: 22px; }
          nav .nav ul#gs-nav li a:hover {
            transition: all 258ms ease-in-out;
            color: #252525; }

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }
  .container.full-height {
    height: calc(100vh - 100px); }

.content {
  position: relative;
  padding: 15px; }

.leerkansen-content {
  background-color: rgb(248, 248, 248);
}

.profile-page body{
  margin: 0;
  background-color: #ececec;
  font-family: Roboto, Calibri;
}
.profile-page img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
/*box-shadow: 0 1px 15px rgba(0,0,0,0.55);*/
}
.profile-page .profile{
  background-color: #FFF;
  width: 80%;
  height: 500px;
  margin: 10vh auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.profile-page .half{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.profile-page .left{
  position: absolute;
  left: 0;
  color: #00AACC;
  background-color: #FFF;
  border-radius: 5px 0 0 5px;
  align-items: center;
}
.profile-page .right{
  position: absolute;
  right: 0;
  color: #FFF;
  background-color: #00AACC;
  border-radius: 0 5px 5px 0;
  align-items: flex-start;
}
.profile-page .name{
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.profile-page .info{
  width: 90%;
  margin: auto;
  flex-direction: column;
  display: flex;
}
.profile-page .title{
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.profile-page .desc{
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 0.3px;
  margin: 0 1em 1em;
}

footer {
  width: 100%;
  height: 175px;
  background-color: #F2F0ED; }
  footer ul {
    display: flex;
    list-style: none;
    padding-bottom: 30px;
    padding-left: 0;
    line-height: 2em; }
    @media screen and (min-width: 320px) {
      footer ul {
        flex-direction: column; } }
    @media screen and (min-width: 960px) {
      footer ul {
        flex-direction: row; } }
    footer ul.first {
      border-bottom: 1px solid #aeaeae; }
    footer ul.bottom {
      padding: 0; }
      @media screen and (min-width: 320px) {
        footer ul.bottom {
          position: relative; } }
      @media screen and (min-width: 960px) {
        footer ul.bottom {
          position: absolute;
          right: 15px; } }
      footer ul.bottom li {
        width: inherit; }
        footer ul.bottom li a {
          padding: 3px 8px;
          font-weight: normal;
          font-size: 12px; }
    footer ul li {
      padding: 0 30px 0 0; }
      footer ul li a {
        color: #707070;
        font-weight: bold;
        font-size: 14px; }
        footer ul li a:hover {
          transition: all 258ms ease-in-out;
          color: #252525; }
  footer .footer_bottom {
    display: flex; }
    @media screen and (min-width: 320px) {
      footer .footer_bottom {
        flex-direction: column; } }
    @media screen and (min-width: 960px) {
      footer .footer_bottom {
        flex-direction: row; } }
    footer .footer_bottom img {
      width: 200px; }
    footer .footer_bottom div {
      width: 100%; }

#startpage {
  position: relative;
  width: 100% !important;
  height: 90vh !important;
  min-height: 550px !important;
  max-height: 900px !important;
  overflow: hidden !important;
  contain: strict !important; }
  #startpage .eyecather-wrapper {
    width: 100% !important;
    position: absolute !important;
    height: 90vh !important;
    min-height: 550px !important;
    max-height: 900px !important;
    overflow: hidden !important;
    contain: strict !important;
    background-color: #252525; }
    #startpage .eyecather-wrapper img {
      position: absolute;
      /* height: 100%; */
      width: auto;
      /* z-index: -1; */
      opacity: .8; }
  #startpage .content {
    text-align: center;
    margin: calc(40vh - 30px) 0;
    width: calc(100% - 30px) !important;
    min-height: 300px !important;
    max-height: 840px !important;
    overflow: hidden !important;
    contain: strict !important; }
    #startpage .content h1, #startpage .content h2, #startpage .content p {
      color: #FFFFFF;
      text-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #startpage .content h1 {
      margin: 0; }
    #startpage .content h2 {
      margin-top: 0; }

#new > div > div {
  position: absolute;
  top: 80px;
  left: 15px; }
  #new > div > div h2 {
    color: #FFFFFF;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
  #new > div > div a {
    display: inline-block;
    background: white;
    color: #707070;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 8px; }
    #new > div > div a:hover {
      transition: all 200ms ease-in-out;
      border-color: #00AACC;
      color: #00AACC; }

#download {
  position: relative;
  background: #00AACC;
  padding: 15px 30px;
  margin-top: 80px; }
  #download .content {
    display: flex;
    flex-direction: row; }
    #download .content .left {
      width: 30%;
      overflow: hidden; }
      #download .content .left img {
        position: absolute;
        width: 250px;
        bottom: -15px;
        left: 0; }
    #download .content .right {
      width: 70%; }
      #download .content .right h1 {
        color: #FFFFFF; }
      #download .content .right p {
        color: white; }
      #download .content .right img {
        width: 150px; }
.l-container ul {
  padding: 0;
  list-style-type: none;
}

.l-container img {
  width: 60px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
}

/* LAYOUT ==================== */
.l-nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #242D33;
}
.l-nav__container, .l-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  .l-nav__container, .l-container {
    width: 95%;
  }
}
.l-nav__button {
  color: #e0e0e0;
  background-color: #3392CC;
  padding: 10px;
  text-align: center;
  width: 30%;
  border-radius: 5px;
}
.l-nav__button:hover {
  background-color: #2e83b8;
  color: white;
}

.l-container {
  display: block;
  /* padding-top: 115px; */
}

/* MODULE ==================== */
.list {
  display: flex;
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.list:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.list__opportunity_title {
  display: flex;
  /* flex-grow: 0.7; */
  overflow: hidden;
  width:30%;
  text-align: left;
  justify-content: flex-start;
}
.list__opportunity_data {
  display: flex;
  text-align: left;
  justify-content: flex-end;
  width:60%;
  overflow: hidden;
  white-space: nowrap;
}
.list__opportunity_data img {
  width: 100px;
}
.list__opportunity_data .list__label{
  padding: 10px;
  /* font-size: 15px; */
}
@media screen and (max-width: 400px) {
  .list__opportunity_data img {
    width: 75px;
  }
}
.list__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.list__label__title {
  align-items: flex-start;
}
.list__label--header {
  color: #00AACC;
  
}
.list__label--value {
  font-size: 1.3em;
  color: #707070;
  overflow: hidden;
  float: left;
}
@media screen and (max-width: 650px) {
  .list {
    flex-direction: column;
  }
  .list__opportunity_title {
    justify-content: center;
    margin: 10px;
  }
  .list__label {
    width: 170px;
  }
  .list__opportunity_data {
    justify-content: center;
  }
}

/* STATE ==================== */
.is-list-selected {
  background: #cb2d3e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  color: white;
}
ul li.list:hover .edit {
	visibility: visible;
}
ul li.list:hover .copy {
	visibility: visible;
}
ul li.list:hover .delete {
	visibility: visible;
}
/* .icon-option{
  padding-left: 15px;
} */
.icon-container{
  color: #00AACC;
  float: right;
  padding-top: 7px;	
	padding-right: 7px;
  visibility: hidden;
  position: relative;
  z-index: 1;
}
.icon-container i{
  margin:2px;
}
.icon-container:hover{
  color: rgb(0, 133, 160);
}

.filler{
  flex-grow: 1;
}

.icon-options{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.icon-options a{
  width: 34%;
}

.map-container{
  overflow: hidden;
  object-fit: cover;
}

.opportunity-detail{
  background: rgb(248, 248, 248);
  /* font-family:lato; */
}

.opportunity-detail h3{
  font-weight:700;
}

.opportunity-detail h1{
    position: absolute;
    top: 90px;
    font-size: 60px;
    color: #fff;
    /* text-shadow: -1px 0 #707070, 0 1px #707070, 0px 0 #707070, 0 -0px #707070; */
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.26);
    z-index: 1;
}

.opportunity-detail .overlay{
  position:absolute;
  top: 0px;
  width:100%;
  height:150px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  /* background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); FF3.6-15 */
  /* background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); IE6-9 */
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    /* background-size: auto; */
  z-index:1;
}

.opportunity-detail .titlehead{
  width:100%;
  height:250px;
  background-size:cover;
  padding: 10px;
  background-position: center center;
}

.opportunity-detail #page.opportunity-container{
  position: relative;
  color:#707070;
  background: #fff;
  margin: -40px 80px 0px 80px;
  padding: 40px;
/* -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5); */
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
}

.opportunity-detail #menu-button{
  position:fixed;
  left:20px;
  top:20px;
  width:30px;
  height:30px;
  z-index:100;
  background:transparent;
  border:0px; 
  padding:0px;
}

.opportunity-detail #menu-button span{
  width:28px;
  height:4px;
  margin:6px 0;
  border-radius:2px;
  background:#fff;
  display:block;
}

.opportunity-detail #menu{
  position:fixed;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
  border-radius:50%;
  background:rgba(0,0,0,.6);
  transform:scale(0);
  z-index:99;
   opacity:0;
     -webkit-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    -moz-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    -ms-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    -o-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s; 
}

.opportunity-detail .showmenu{
    transform:scale(1) !important;
    border-radius:0% !important;
  opacity:1 !important;
     -webkit-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    -moz-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    -ms-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    -o-transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s;
    transition: all cubic-bezier(.32, -0.6, .68, 1.6) .3s; 
} 


.opportunity-detail #page{
  border-radius: 40px;
    webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s; 
  
}

.opportunity-detail ul{
  width:100%;
  text-align:center;
  max-width:400px;
  color: #fff;
  list-style:none;
  margin: 0 auto;
  padding :0px !important;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  ;
}
.opportunity-detail ul li{
  width:100%;
  margin:0; padding:10px;
  font-size: 2em;
}

.opportunity-detail .btn:focus {
  outline: none;
}
.opportunity-detail .btn:focus,.btn:active:focus,.btn.active:focus,
.opportunity-detail .btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.infobox{
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 20px;
  /* width: 50%; */
  /* margin: 0px 24%; */
  /* margin: 0px 180px 0px 180px; */
  /* position: relative; */
}
.infobox-content{
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
}
.infobox td{
  padding-right: 20px;
}
.opportunity-container img.badge{
  position: absolute;
  width: 160px;
  height: auto;
  top: -120px;
  right: 0;
}
.content-flex{
  display: flex;
}
.opportunity-container .content-left{
  width: 50%;
}
.opportunity-container .content-right{
  width: 50%;
  padding: 0px 20px 0px 20px;
}
.privacycontent{
  padding: 0px 20px 0px 20px;
}
#stickybox {
  /* Position absolutely, 30px down from the top */
  /* position: absolute;
  top: 30px; */

  /* In my case I'm centering it in the window; do what you like */
  /* margin-left: -100px;
  left: 50%;
  width: 200px; */

  /* These are just for my example */
  /* height: 1.25em;
  border: 1px solid #bbb;
  text-align: center; */
}
.confirm-delete{
  text-align: center;
  /* overflow: scroll; */
}
.confirm-delete .content{
  display: flex;
}
.confirm-delete button{
  border-radius: 8px;
  color: #FFFFFF !important;
  border: 2px solid #00AACC;
  background-color: #00AACC;
  cursor: pointer;
  font-size: 20px;
}
.confirm-delete .content-left{
  width: 50%;
  margin-right: 20px;
}
.confirm-delete .content-left button{
  float: right;
}
.confirm-delete .content-right{
  width: 50%;
  margin-left: 20px;
}
.confirm-delete .content-right button{
  float: left;
}
.opp-list-page p{
  /* text-align: center; */
}
.opportunity-page-warning{
  color: red;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 5;
  opacity: 0.9;
  padding: 0px 20px 0px 20px;
}
.nav-dropdown-ext{
  border-top: 2px dotted #ddd;
  margin-top: 5px;
  padding-top: 1px;
}
.crop-opp-img{
  max-height: 200px;
  overflow: hidden;
  margin: -15px -15px 0px -15px;
}
.crop-opp-img img{
  width: 100%;
}
.content-with-padding{
  padding-left: 7%;
  padding-right: 7%;
}
.participants {
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  overflow-x: auto;
  font-size: 14px;
}
.participants table{
  width:100%;
  display: inline-block;
  table-layout: fixed;
  border-collapse: collapse;
}
.participants tr:nth-child(even) {
  background-color: #f2f2f2;
}
.participants th {
  background-color: #00AACC;
  color: white;
  height: 36px;
}
.participants th, .participants td{
  padding: 5px 20px 5px 20px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: left;
}
.participants button {
  margin: 2px;
  border-radius: 8px;
  color: #FFFFFF !important;
  border: 2px solid #00AACC;
  background-color: #00AACC;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
}
.participants .table-el{
  height: 30px;
  white-space:nowrap;
  overflow: hidden;
}
.register-form-content
{
	background-color:#00AACC;
}

#register-form input
{
	border-width:0px;
	outline:none;
  font-weight:bold;
  /* color:#707070; */
}

#register-form .b3
{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}

#register-form .tb
{
	display:table;
	width:100%;
}

#register-form .td
{
	display:table-cell;
	vertical-align:middle;
}

#register-form .material-icons
{
	color:#bbb;
	vertical-align:middle;
}

#register-form .icon
{
	width:24px;
  padding:10px;
  color: #ddd;
}

#register-form .mrg3b
{
	margin-bottom:0px;
}

#register-form .mrg25t
{
	margin-top:25px;
}

#register-form
{
	font-size:16px;
	width:400px;
	margin:0 auto;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 100px;
  padding-top: 20px;
	font-weight:bold;
}

#register-form .cl-wh
{
	color:#fff;
}

#f-mlb
{
	text-align:center;
	font-size: 26px;
	margin-bottom:10px;
}

#register-form .f-i-bx
{
  margin-top: 7px;
  background-color: #fff;
	overflow:hidden;
}

#register-form .f-i-bx input
{
	width:100%;
	height:24px;
  font-size: 13.333333px;
  color: #707070;
	background-color:transparent;
	padding:0px;
}

#register-form .prt
{
	padding-right:10px;
}

#register-form form label
{
	padding-left:3px;
}

#tc-bx
{
    margin-top: 25px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

#tc-bx a
{
  color: #fff;
  font-weight: bold; 
  text-decoration:none;
}

#register-form .f-i-bx,#s-btn input
{
	box-shadow: 0px 4px 4px #3f3f3f;
	-webkit-box-shadow: 0px 4px 4px #3f3f3f;
	-moz-box-shadow: 0px 4px 4px #3f3f3f;
	-o-box-shadow: 0px 4px 4px #3f3f3f;
	-ms-box-shadow: 0px 4px 4px #3f3f3f;
}

#s-btn input
{
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(rgb(0, 200, 240), rgb(0, 128, 153));
	background: -webkit-linear-gradient(rgb(0, 200, 240), rgb(0, 128, 153));
	background: -moz-linear-gradient(rgb(0, 200, 240), rgb(0, 128, 153));
	background: -o-linear-gradient(rgb(0, 200, 240), rgb(0, 128, 153));
	background: -ms-linear-gradient(rgb(0, 200, 240), rgb(0, 128, 153));
}

#s-btn input:active
{
	position:relative;
	top:3px;
	box-shadow: 0px 2px 2px #3f3f3f;
	-webkit-box-shadow: 0px 2px 2px #3f3f3f;
	-moz-box-shadow: 0px 2px 2px #3f3f3f;
	-o-box-shadow: 0px 2px 2px #3f3f3f;
	-ms-box-shadow: 0px 2px 2px #3f3f3f;
}
#s-btn input:disabled
{
	position:relative;
  top:3px;
  color:#ddd;
	background: linear-gradient(#bbb, #707070);
	background: -webkit-linear-gradient(#bbb, #707070);
	background: -moz-linear-gradient(#bbb, #707070);
	background: -o-linear-gradient(#bbb, #707070);
	background: -ms-linear-gradient(#bbb, #707070);
}
#register-form .form-group{
  margin-bottom: 25px;
}

