@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  line-height: 1.2em; }

h1, h2 {
  color: #707070; }

h1 {
  font-size: 32px;
  line-height: 1.6em; }

h2 {
  font-size: 20px;
  line-height: 1.3em; }

input, textarea {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif; }

.meer {
  display: block;
  margin: 5px auto 30px;
  padding: 5px 0;
  text-align: center;
  width: 170px;
  border-bottom: 2px solid #00AACC;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  transition: all 200ms ease-in-out; }
  .meer:hover {
    color: #00AACC; }

.relative {
  position: relative; }
  .relative.searchfilters {
    height: 200px; }
    .relative.searchfilters .fixed {
      position: fixed;
      top: 100px;
      width: calc(100% - 30px);
      z-index: 998;
      background-color: #FFFFFF; }

a {
  text-decoration: none; }
  a.primary {
    border-radius: 8px;
    color: #FFFFFF !important;
    border: 2px solid #00AACC;
    background-color: #00AACC; }
    a.primary:hover {
      transition: all 200ms ease-in-out;
      color: #00AACC !important;
      background-color: transparent; }

.dropdown-menu-list {
  display: block;
  font-weight: 700;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  border-radius: 8px;
  color: #707070 !important;
  border: 2px solid #707070;
  background-color: #FFFFFF;
  white-space: nowrap;
  position: absolute;
}

button.primary {
  display: block;
  font-weight: 700;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  line-height: 22px;
  height: 37px;
  text-decoration: none;
  border-radius: 8px;
  color: #00AACC !important;
  border: 2px solid #00AACC;
  background-color: #FFFFFF; }
  button.primary:hover {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #00AACC !important;
    background-color: transparent; }

.back {
  display: block;
  font-weight: 700;
  color: #707070;
  padding: 5px 10px;
  margin: 0 5px;
  line-height: 22px;
  height: 22px;
  display:inline-block; }
  back:hover {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #00AACC !important;
    background-color: transparent; }

.card-container {
  display: grid;
  padding: 10px 0;
  grid-column-gap: 15px;
  grid-row-gap: 15px; }
  .card-container .card-item {
    position: relative;
    background-color: transparent;
    padding: 15px;
    overflow: hidden; }

@media screen and (min-width: 415px) {
  .card-container {
    grid-template-columns: auto; } }

@media screen and (min-width: 650px) {
  .card-container {
    grid-template-columns: auto auto; }
    .card-container.leerkansen {
      grid-template-columns: auto; }
    .card-container.aangemaakte-leerkansen {
      grid-template-columns: auto; } }

@media screen and (min-width: 960px) {
  .card-container {
    grid-template-columns: auto auto auto; }
    .card-container.leerkansen {
      grid-template-columns: auto auto; }
    .card-container.aangemaakte-leerkansen {
      grid-template-columns: auto auto; } }

#recente-ervaringen h1 {
  text-align: center; }

#recente-ervaringen .ervaring {
  background-size: cover;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  height: 400px;
  border: none;
  transition: all 200ms ease-in-out; }
  #recente-ervaringen .ervaring .data {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.35);
    transition: all 200ms ease-in-out; }
    #recente-ervaringen .ervaring .data h2 {
      color: #FFFFFF; }
    #recente-ervaringen .ervaring .data small {
      color: #FFFFFF; }
  #recente-ervaringen .ervaring:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #recente-ervaringen .ervaring:hover .data {
      transform: translateY(-120px); }

#create_leerkans form {
  width: 100%; }
  #create_leerkans form .form-group {
    width: 100%; }
    #create_leerkans form .form-group label {
      display: block;
      width: 100%;
      padding: 8px 0 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      color: #666; }
    #create_leerkans form .form-group input,
    #create_leerkans form .form-group textarea {
      display: block;
      padding: 8px 16px;
      margin-bottom: 8px;
      width: calc(100% - 32px - 2px);
      border: 1px solid #ddd;
      border-radius: 8px;
      outline: none; }
      #create_leerkans form .form-group input:focus,
      #create_leerkans form .form-group textarea:focus {
        border: 1px solid turquoise; }

#leerkansen {
  display: flex;
  flex-direction: row;  }
  #leerkansen h1.uitgelicht {
    text-align: center; }
  #leerkansen .content-left {
    width: 60%; }
  #leerkansen .content-right {
    height: calc(100vh - 209px);
    width: 40%;
    margin-right: -15px;
    width: calc(40% + 15px); }
  #leerkansen .card-item.leerkans {
    border-radius: 15px;
    border: 2px solid #F2F0ED;
    transition: all 200ms ease-in-out;
    background-color: white;}
    #leerkansen .card-item.leerkans:hover {
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #leerkansen .card-item.leerkans.digitale-geletterdheid:hover {
      border-color: #00AACC; }
    #leerkansen .card-item.leerkans.duurzaamheid:hover {
      border-color: #BBCC00; }
    #leerkansen .card-item.leerkans.ons:hover {
      border-color: #A8A8A8; }
    #leerkansen .card-item.leerkans.wbs:hover {
      border-color: #EE9900; }
    #leerkansen .card-item.leerkans.ond:hover {
      border-color: #CC0077; }
    #leerkansen .card-item.leerkans > img.photo {
      margin: -15px -15px 0 -15px;
      width: calc(100% + 30px); }
    #leerkansen .card-item.leerkans img.badge {
      position: absolute;
      width: 70px;
      height: auto;
      top: -60px;
      right: 0; }
    #leerkansen .card-item.leerkans h2 {
      color: #00AACC; }
    #leerkansen .card-item.leerkans .meta-data small {
      display: block;
      color: #aeaeae;
      font-size: 12px; }
    #leerkansen .card-item.leerkans p {
      color: #707070;
      font-size: 14px; }

#aangemaakte-leerkansen {
  display: flex;
  /* flex-direction: row; */}
  #aangemaakte-leerkansen h1.uitgelicht {
    text-align: center; }
  #aangemaakte-leerkansen .content-left {
    width: 100%; }
  #aangemaakte-leerkansen .content-right {
    height: calc(100vh - 209px);
    width: 0%;
    margin-right: -15px;
    width: calc(40% + 15px); }
  #aangemaakte-leerkansen .card-item.leerkans {
    border-radius: 15px;
    border: 2px solid #F2F0ED;
    transition: all 200ms ease-in-out; 
    width: 500px;
    background-color: white;}
    #aangemaakte-leerkansen .card-item.leerkans:hover {
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #aangemaakte-leerkansen .card-item.leerkans.digitale-geletterdheid:hover {
      border-color: #00AACC; }
    #aangemaakte-leerkansen .card-item.leerkans.duurzaamheid:hover {
      border-color: #BBCC00; }
    #aangemaakte-leerkansen .card-item.leerkans.ons:hover {
      border-color: #A8A8A8; }
    #aangemaakte-leerkansen .card-item.leerkans.wbs:hover {
      border-color: #EE9900; }
    #aangemaakte-leerkansen .card-item.leerkans.ond:hover {
      border-color: #CC0077; }
    #aangemaakte-leerkansen .card-item.leerkans > img.photo {
      margin: -15px -15px 0 -15px;
      width: calc(100% + 30px); }
    #aangemaakte-leerkansen .card-item.leerkans img.badge {
      position: absolute;
      width: 70px;
      height: auto;
      top: -60px;
      right: 0; }
    #aangemaakte-leerkansen .card-item.leerkans h2 {
      color: #00AACC; }
    #aangemaakte-leerkansen .card-item.leerkans .meta-data small {
      display: block;
      color: #aeaeae;
      font-size: 12px; }
    #aangemaakte-leerkansen .card-item.leerkans p {
      color: #707070;
      font-size: 14px; }

form .search-wrapper {
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  position: relative; }
  form .search-wrapper.frontpage {
    max-width: 800px; }
    form .search-wrapper.frontpage i {
      top: 28px;
      left: 30px; }
    form .search-wrapper.frontpage input {
      width: calc(100% - 80px);
      border-radius: 8px;
      max-width: 800px;
      padding: 15px 20px 15px 60px; }
    form .search-wrapper.frontpage > button {
      top: 10px;
      right: 10px;
      height: 48px; }
  form .search-wrapper.leerkansen i {
    font-size: 14px;
    top: 22px;
    left: 22px; }
  form .search-wrapper.leerkansen input {
    width: calc(100% - 71px);
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    border: 1px solid #E8E8E8;
    padding: 10px 20px 10px 50px; }
  form .search-wrapper.leerkansen > .filters {
    border: 1px solid #E8E8E8;
    margin-top: -1px;
    border-radius: 0 0 6px 6px; }
    form .search-wrapper.leerkansen > .filters > button {
      padding: 0;
      height: 40px;
      width: 25%;
      border: none;
      color: #707070;
      border-right: 1px solid #E8E8E8;
      outline: none;
      transition: all 200ms ease-in-out; }
      form .search-wrapper.leerkansen > .filters > button:first-child {
        margin-left: 1px;
        width: calc(25% - 1px);
        border-radius: 0 0 0 6px; }
      form .search-wrapper.leerkansen > .filters > button:last-child {
        border-right: none;
        border-radius: 0 0 6px 0; }
      form .search-wrapper.leerkansen > .filters > button:hover {
        background-color: #E8E8E8;
        cursor: pointer; }
  form .search-wrapper i {
    position: absolute;
    color: #aeaeae; }
  form .search-wrapper input {
    font-size: 18px;
    line-height: 2em;
    color: #252525;
    border: 1px solid #FFFFFF;
    outline: none;
    transition: all 200ms ease-in-out; }
    form .search-wrapper input:focus, form .search-wrapper input:active {
      border-color: #00AACC;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    form .search-wrapper input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #aeaeae; }
  form .search-wrapper > button {
    position: absolute;
    min-width: 100px;
    border-radius: 6px;
    border: 0;
    background-color: #00AACC;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; }
    form .search-wrapper > button:hover {
      background-color: #0095b3; }

nav {
  height: 100px; }
  nav .nav-wrapper {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.26);
    background-color: #FFFFFF;
    z-index: 999; }
  nav .logo {
    height: 100%;
    width: 270px;
    padding-left: 30px; }
    nav .logo img#gs-logo {
      height: 30px;
      padding: 35px 0; }
  nav .nav {
    width: 100%; }
    nav .nav ul#gs-nav {
      display: flex;
      width: auto;
      position: absolute;
      right: 30px;
      padding: 22px 0; }
      @media screen and (min-width: 320px) {
        nav .nav ul#gs-nav {
          flex-direction: column; } }
      @media screen and (min-width: 960px) {
        nav .nav ul#gs-nav {
          flex-direction: row; } }
      nav .nav ul#gs-nav li {
        list-style: none;
        position: relative;
        width: auto; }
        nav .nav ul#gs-nav li.nav_item .active {
          border-bottom: 2px solid #00AACC; }
        nav .nav ul#gs-nav li.nav_item.language {
          font-size: 14px;}
        nav .nav ul#gs-nav li a {
          display: block;
          font-weight: 700;
          color: #707070;
          padding: 5px 10px;
          margin: 0 5px;
          line-height: 22px;
          height: 22px; }
          nav .nav ul#gs-nav li a:hover {
            transition: all 258ms ease-in-out;
            color: #252525; }

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }
  .container.full-height {
    height: calc(100vh - 100px); }

.content {
  position: relative;
  padding: 15px; }

.leerkansen-content {
  background-color: rgb(248, 248, 248);
}

.profile-page body{
  margin: 0;
  background-color: #ececec;
  font-family: Roboto, Calibri;
}
.profile-page img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
/*box-shadow: 0 1px 15px rgba(0,0,0,0.55);*/
}
.profile-page .profile{
  background-color: #FFF;
  width: 80%;
  height: 500px;
  margin: 10vh auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.profile-page .half{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.profile-page .left{
  position: absolute;
  left: 0;
  color: #00AACC;
  background-color: #FFF;
  border-radius: 5px 0 0 5px;
  align-items: center;
}
.profile-page .right{
  position: absolute;
  right: 0;
  color: #FFF;
  background-color: #00AACC;
  border-radius: 0 5px 5px 0;
  align-items: flex-start;
}
.profile-page .name{
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.profile-page .info{
  width: 90%;
  margin: auto;
  flex-direction: column;
  display: flex;
}
.profile-page .title{
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.profile-page .desc{
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 0.3px;
  margin: 0 1em 1em;
}

footer {
  width: 100%;
  background-color: #F2F0ED; }
  footer ul {
    display: flex;
    list-style: none;
    padding-bottom: 30px;
    padding-left: 0;
    line-height: 2em; }
    @media screen and (min-width: 320px) {
      footer ul {
        flex-direction: column; } }
    @media screen and (min-width: 960px) {
      footer ul {
        flex-direction: row; } }
    footer ul.first {
      border-bottom: 1px solid #aeaeae; }
    footer ul.bottom {
      padding: 0; }
      @media screen and (min-width: 320px) {
        footer ul.bottom {
          position: relative; } }
      @media screen and (min-width: 960px) {
        footer ul.bottom {
          position: absolute;
          right: 15px; } }
      footer ul.bottom li {
        width: inherit; }
        footer ul.bottom li a {
          padding: 3px 8px;
          font-weight: normal;
          font-size: 12px; }
    footer ul li {
      padding: 0 30px 0 0; }
      footer ul li a {
        color: #707070;
        font-weight: bold;
        font-size: 14px; }
        footer ul li a:hover {
          transition: all 258ms ease-in-out;
          color: #252525; }
  footer .footer_bottom {
    display: flex; }
    @media screen and (min-width: 320px) {
      footer .footer_bottom {
        flex-direction: column; } }
    @media screen and (min-width: 960px) {
      footer .footer_bottom {
        flex-direction: row; } }
    footer .footer_bottom img {
      width: 200px; }
    footer .footer_bottom div {
      width: 100%; }

#startpage {
  position: relative;
  width: 100% !important;
  height: 80vh !important;
  min-height: 550px !important;
  max-height: 900px !important;
  overflow: hidden !important;
  contain: strict !important; }
  #startpage .eyecather-wrapper {
    width: 100% !important;
    position: absolute !important;
    height: 80vh !important;
    min-height: 550px !important;
    max-height: 900px !important;
    overflow: hidden !important;
    contain: strict !important;
    background-color: #252525; }
    #startpage .eyecather-wrapper img {
      position: absolute;
      height: 100%;
      width: auto;
      z-index: -1;
      opacity: .8; }
  #startpage .content {
    text-align: center;
    margin: calc(40vh - 30px) 0;
    width: calc(100% - 30px) !important;
    min-height: 300px !important;
    max-height: 840px !important;
    overflow: hidden !important;
    contain: strict !important; }
    #startpage .content h1, #startpage .content h2 {
      color: #FFFFFF;
      text-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
    #startpage .content h1 {
      margin: 0; }
    #startpage .content h2 {
      margin-top: 0; }

#new > div > div {
  position: absolute;
  top: 80px;
  left: 15px; }
  #new > div > div h2 {
    color: #FFFFFF;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.26); }
  #new > div > div a {
    display: inline-block;
    background: white;
    color: #707070;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 8px; }
    #new > div > div a:hover {
      transition: all 200ms ease-in-out;
      border-color: #00AACC;
      color: #00AACC; }

#download {
  position: relative;
  background: #00AACC;
  padding: 15px 30px;
  margin-top: 80px; }
  #download .content {
    display: flex;
    flex-direction: row; }
    #download .content .left {
      width: 30%;
      overflow: hidden; }
      #download .content .left img {
        position: absolute;
        width: 250px;
        bottom: -15px;
        left: 0; }
    #download .content .right {
      width: 70%; }
      #download .content .right h1 {
        color: #FFFFFF; }
      #download .content .right p {
        color: white; }
      #download .content .right img {
        width: 150px; }
