@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  line-height: 1.2em; }

h1, h2 {
  color: #707070; }

h1 {
  font-size: 32px;
  line-height: 1.6em; }

h2 {
  font-size: 20px;
  line-height: 1.3em; }

input, textarea {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif; }

.meer {
  display: block;
  margin: 5px auto 30px;
  padding: 5px 0;
  text-align: center;
  width: 170px;
  border-bottom: 2px solid #00AACC;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  transition: all 200ms ease-in-out; }
  .meer:hover {
    color: #00AACC; }

a {
  text-decoration: none; }
  a.primary {
    border-radius: 8px;
    color: #FFFFFF !important;
    border: 1px solid #00AACC;
    background-color: #00AACC; }
    a.primary:hover {
      transition: all 200ms ease-in-out;
      color: #00AACC !important;
      background-color: transparent; }

.card-container {
  display: grid;
  padding: 10px 0;
  grid-column-gap: 30px;
  grid-row-gap: 30px; }
  .card-container .card-item {
    position: relative;
    background-color: transparent;
    border: 1px solid #F2F0ED;
    padding: 15px;
    overflow: hidden; }

@media screen and (min-width: 415px) {
  .card-container {
    grid-template-columns: auto; } }

@media screen and (min-width: 550px) {
  .card-container {
    grid-template-columns: auto auto; } }

@media screen and (min-width: 960px) {
  .card-container {
    grid-template-columns: auto auto auto; } }

#leerkansen h1.uitgelicht {
  text-align: center; }

#leerkansen .card-item.leerkans {
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid #F2F0ED;
  transition: all 200ms ease-in-out; }
  #leerkansen .card-item.leerkans:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.26); }
  #leerkansen .card-item.leerkans.dg:hover {
    border-color: #00AACC; }
  #leerkansen .card-item.leerkans.dzh:hover {
    border-color: #BBCC00; }
  #leerkansen .card-item.leerkans.ons:hover {
    border-color: #A8A8A8; }
  #leerkansen .card-item.leerkans.wbs:hover {
    border-color: #EE9900; }
  #leerkansen .card-item.leerkans.ond:hover {
    border-color: #CC0077; }
  #leerkansen .card-item.leerkans > img.photo {
    margin: -15px -15px 0 -15px;
    width: calc(100% + 30px); }
  #leerkansen .card-item.leerkans img.badge {
    position: absolute;
    width: 70px;
    height: auto;
    top: -60px;
    right: 0; }
  #leerkansen .card-item.leerkans h2 {
    color: #00AACC; }
  #leerkansen .card-item.leerkans .meta-data small {
    display: block;
    color: #aeaeae; }
  #leerkansen .card-item.leerkans p {
    color: #707070; }

#recente-ervaringen h1 {
  text-align: center; }

#recente-ervaringen .ervaring {
  background-size: cover;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  height: 400px;
  border: none;
  transition: all 200ms ease-in-out; }
  #recente-ervaringen .ervaring .data {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.35);
    transition: all 200ms ease-in-out; }
    #recente-ervaringen .ervaring .data h2 {
      color: #FFFFFF; }
    #recente-ervaringen .ervaring .data small {
      color: #FFFFFF; }
  #recente-ervaringen .ervaring:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.26); }
    #recente-ervaringen .ervaring:hover .data {
      transform: translateY(-120px); }

nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.26); }
  nav .logo {
    height: 100%;
    width: 270px;
    padding-left: 30px; }
    nav .logo img#gs-logo {
      height: 30px;
      padding: 35px 0; }
  nav .nav {
    width: 100%; }
    nav .nav ul#gs-nav {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 30px;
      padding: 22px 0; }
      nav .nav ul#gs-nav li {
        list-style: none; }
        nav .nav ul#gs-nav li.nav_item .active {
          border-bottom: 2px solid #00AACC; }
        nav .nav ul#gs-nav li.nav_item.language {
          font-size: 14px; }
        nav .nav ul#gs-nav li a {
          display: block;
          font-weight: 700;
          color: #707070;
          padding: 5px 10px;
          margin: 0 5px;
          line-height: 22px;
          height: 22px; }
          nav .nav ul#gs-nav li a:hover {
            transition: all 258ms ease-in-out;
            color: #252525; }

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }
  .container.full-height {
    height: calc(100vh - 100px); }

.content {
  position: relative;
  padding: 15px; }

footer {
  width: 100%;
  background-color: #F2F0ED; }
  footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 30px;
    padding-left: 0; }
    footer ul.first {
      border-bottom: 2px solid #707070; }
    footer ul.bottom {
      position: absolute;
      right: 15px;
      padding: 0; }
      footer ul.bottom li {
        width: inherit; }
        footer ul.bottom li a {
          padding: 3px 8px;
          font-weight: normal;
          font-size: 12px; }
    footer ul li {
      padding: 0 30px 0 0; }
      footer ul li a {
        color: #707070;
        font-weight: bold;
        font-size: 14px; }
        footer ul li a:hover {
          transition: all 258ms ease-in-out;
          color: #252525; }
  footer .footer_bottom {
    display: flex;
    flex-direction: row; }
    footer .footer_bottom img {
      width: 200px; }
    footer .footer_bottom div {
      width: 100%; }

#startpage {
  position: relative;
  width: 100% !important;
  height: 80vh !important;
  min-height: 550px !important;
  max-height: 900px !important;
  overflow: hidden !important;
  contain: strict !important; }
  #startpage .eyecather-wrapper {
    width: 100% !important;
    position: absolute !important;
    height: 80vh !important;
    min-height: 550px !important;
    max-height: 900px !important;
    overflow: hidden !important;
    contain: strict !important;
    background-color: #252525; }
    #startpage .eyecather-wrapper img {
      position: absolute;
      height: 100%;
      width: auto;
      z-index: -1;
      opacity: .8; }
  #startpage .content {
    text-align: center;
    margin: calc(40vh - 30px) 0;
    width: calc(100% - 30px) !important;
    min-height: 300px !important;
    max-height: 840px !important;
    overflow: hidden !important;
    contain: strict !important; }
    #startpage .content h1, #startpage .content h2 {
      color: #FFFFFF;
      text-shadow: 0 5px 20px rgba(0, 0, 0, 0.26); }
    #startpage .content h1 {
      margin: 0; }
    #startpage .content h2 {
      margin-top: 0; }
    #startpage .content form .search-wrapper {
      width: 100%;
      max-width: 800px;
      min-height: 50px;
      margin: 0 auto;
      position: relative; }
      #startpage .content form .search-wrapper i {
        position: absolute;
        top: 28px;
        left: 30px;
        color: #aeaeae; }
      #startpage .content form .search-wrapper input {
        width: calc(100% - 80px);
        max-width: 800px;
        padding: 15px 20px 15px 60px;
        border-radius: 8px;
        font-size: 18px;
        line-height: 2em;
        color: #252525;
        border: 1px solid #FFFFFF;
        outline: none;
        transition: all 200ms ease-in-out; }
        #startpage .content form .search-wrapper input:focus, #startpage .content form .search-wrapper input:active {
          border-color: #00AACC;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.26); }
        #startpage .content form .search-wrapper input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #aeaeae; }
      #startpage .content form .search-wrapper button {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 48px;
        min-width: 100px;
        border-radius: 6px;
        border: 0;
        background-color: #00AACC;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer; }
        #startpage .content form .search-wrapper button:hover {
          background-color: #0095b3; }

#new > div > div {
  position: absolute;
  top: 80px;
  left: 15px; }
  #new > div > div h2 {
    color: #FFFFFF;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.26); }
  #new > div > div a {
    display: inline-block;
    background: white;
    color: #707070;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 8px; }
    #new > div > div a:hover {
      transition: all 200ms ease-in-out;
      border-color: #00AACC;
      color: #00AACC; }

#download {
  position: relative;
  background: #00AACC;
  padding: 15px 30px;
  margin-top: 80px; }
  #download .content {
    display: flex;
    flex-direction: row; }
    #download .content .left {
      width: 30%;
      overflow: hidden; }
      #download .content .left img {
        position: absolute;
        width: 250px;
        bottom: -15px;
        left: 0; }
    #download .content .right {
      width: 70%; }
      #download .content .right h1 {
        color: #FFFFFF; }
      #download .content .right p {
        color: white; }
      #download .content .right img {
        width: 150px; }
