$transition: all 200ms ease-in-out;
$shadow: 0 5px 20px rgba(0, 0, 0, .26);
$shadow-light: 1px 1px 2px rgba(0, 0, 0, .1);

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
	line-height: 1.2em;
}

h1, h2 {
	color: $gray;
}
h1 {
	// font-size: 36px;
	font-size: 32px;
	line-height: 1.6em;
}
h2 {
	// font-size: 24px;
	font-size: 20px;
	line-height: 1.3em;
}

input, textarea {
	font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
}

.meer {
	display: block;
	margin: 5px auto 30px;
	padding: 5px 0;
	text-align: center;
	width: 170px;
	border-bottom: 2px solid $primary;
	color: $gray;
	font-size: 20px;
	font-weight: bold;
	transition: $transition;
	&:hover {
		color: $primary;
	}
}